/* Makeshift CSS Reset */
{
    margin: 0;
    padding: 0;
}
 
/* Le indicamos a el navegador que renderise estos elementos HTML5 como bloques*/
header, footer, aside, nav, article {
    display: block; /* Con esto le decimos que ocupe todo el ancho disponible*/
}
 
body {
    margin: 0 auto; 
    /*  
    margin: 0 auto;  
    top and bottom margins are 0px
    right and left margins are auto
    
    http://www.w3schools.com/css/css_margin.asp

     */
    width: 940px;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #f0f0f0;
}


 
h2 {
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;
}
 
h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0;
}
 
p {
    padding-bottom: 22px;
}

/*-----------------------------------------*/
/*Estilos del menu superior*/
nav {
    /*La etiqueta absolute, permite que un objeto sea posicionado
    en cualquier lugar de la pagina.   */
    /* http://www.w3schools.com/css/css_positioning.asp */
    position: absolute; 
    left: 0;
    width: 100%;
    background: url("../img/nav_background.png");
}

nav ul {
    margin: 0 auto;
    width: 940px;
    /* es para agregarle filigranas a la lista, 
    en este caso no es necesario.*/
    list-style: none; 
}

/* Le damos estilo a cada uno de los 
elementos de la barra de navegacion*/
nav ul li {
    float: left;
}
    nav ul li a {
        display: block;
        margin-right: 20px;
        width: 140px;
        font-size: 14px;

        /*Define el espacio entre las lineas de texto.*/
        line-height: 44px; 
        text-align: center;
        text-decoration: none;
        color: #777;
    }
 
    /*Le brinda a las propiedades de HOVER y
     Selected un color particular*/
    nav ul li a:hover {
        color: #fff;
    }

    nav ul li.selected a { 
        color: #fff;
    }

/*---------------------------------------*/

#intro {
    /*
        Se basa en su contenedor para adoptar la posicion actual.
    */
    position: relative;
    margin-top: 66px;
    padding: 44px;
    background: #467612 url("img/intro_background.png") repeat-x;
    
    /* Background-size not implemented yet */
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    -khtml-background-size: 100%;

    
    /* Border-radius not implemented yet */
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
}

#intro img {
        position: absolute;
        top: 0;
        right: 0;
        width: 653px;
        height: 100%;
    
        /* Border-radius not implemented yet */
        -moz-border-radius: 22px;
        -webkit-border-radius: 22px;
}

    #intro h2, #intro p {
        position: relative;
        /*
        z-index es usado para que la imagen siempre
        este por encima de los elementos.
         de acuerdo con el numero que se le de
        */
        z-index: 9999;
        width: 336px;
    }
    
    #intro h2 {
        padding: 0 0 22px 0;
        font-weight: normal;
        color: #fff;
    }
    
    #intro p {
        padding: 0;
        color: #d9f499;
    }
    
    
/*---------------------------------------*/

#content {
    display: table;
}
 
    #mainContent {
        display: table-cell;
        width: 620px;
        padding-right: 22px;
    }
 
    aside {
        display: table-cell;
        width: 300px;
    }
/*-------------------------------------*/

/* Agrega el estilo de doble columna a la seccion de post.*/

.blogPost div {
    /* Column-count not implemented yet */
    -moz-column-count: 2;
    -webkit-column-count: 2;
 
    /* Column-gap not implemented yet */
    -moz-column-gap: 22px;
    -webkit-column-gap: 22px;
}

.blogPost {
    column-count: 2;
    column-gap: 22px;
}
 
    .blogPost header {
        column-span: all;
    }

/*------------------------------------*/

#comments {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}

#comments article {
    /*
    Realizamos la misma tecnica de table en la seccion de Content
    */
    display: table;
    padding: 22px;
}

#comments article header {
            display: table-cell;
            width: 220px;
            padding-right: 22px;
        }
        
            #comments article header a {
                display: block;
                font-weight: bold;
                color: #000;
            }
            
                #comments article header a:hover {
                    text-decoration: none;
                }
        
        #comments article p {
            padding: 0;
        }

#comments article:nth-child(odd) {
    padding: 21px;
    background: #E3E3E3;
    border: 1px solid #d7d7d7;
 
    /* Border-radius not implemented yet */
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
}
/*------------------------------------------*/



/*------------------------------
=COMMENT FORM
------------------------------*/
form {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}

    form p {
        display: table;
        margin-bottom: 22px;
        padding: 0 22px;
    }

        form label {
            display: table-cell;
            width: 140px;
            padding-right: 20px;
            text-align: right;
            font-weight: bold;
            vertical-align: top;
        }
    
        form input[type="text"], form input[type="email"], form input[type="url"] {
            display: table-cell;
            width: 300px;
            height: 20px;
            border: 1px solid #d7d7d7;
        }
        
        form textarea {
            width: 300px;
            height: 100px;
            border: 1px solid #d7d7d7;
        }
        
        form input[type="submit"] {
            margin-left: 162px;
        }



/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
    margin: 22px 0 0 22px;
    padding: 11px 22px;
    background: url("img/sidebar_section_background.png") repeat-x;
    
    /* Border-radius not implemented yet */
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
}

    aside section ul {
        margin: 0 0 0 22px;
        list-style: none;
    }
    
        aside section ul li a {
            display: block;
            text-decoration: none;
            color: #000;
        }
        
            aside section ul li a:hover {
                text-decoration: underline;
            }



/*------------------------------
=FOOTER
------------------------------*/
footer {
    position: absolute;
    left: 0;
    width: 100%;
    background: #222;
}

    footer div {
        display: table;
        margin: 0 auto;
        padding: 44px 0;
        width: 940px;
        color: #777;
    }
    
        footer div section {
            display: table-cell;
            width: 300px;
        }
        
        footer div #about, footer div #blogroll {
            padding-right: 20px;
        }
        
    footer h3 {
        color: #FFF;
    }
    
    footer a {
        color: #999;
    }
    
        footer a:hover {
            color: #FFF;
            text-decoration: none;
        }
    
    footer ul {
        margin: 0 0 0 40px;
        list-style: square;
        color: #565656;
    }
    
        footer ul li a {
            display: block;
        }